<?xml version="1.0" encoding="UTF-8"?>

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/capgemini</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Specify annotated classes -->
        <mapping class="org.criteria_query.Employee"/>
        
    </session-factory>
</hibernate-configuration>